nav {
    text-align: center;
    background-color: #000000;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 20px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav ul li.active a {
    font-weight: bold;
    color: #ff0000;
    text-decoration: underline;
}

a.skip-to-content {
    display: none;
}

a.skip-to-content:focus {
    display: inline;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* Style the individual grid items (content sections) */
.grid-layout > div {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h1 {
    display: none;
}